<%- include('./partials/head', {title: 'Sub Groups', cssFile: '../css/posts.css' }) %>
  <section class="d-flex">
     <div class="container-fluid"> 
      <div class="row justify-content-center">
        <div class="card h-100 d-flex flex-column  col-md-10 m-3"> 
          <h3>Sub Groups</h3>  
          <ul class="list-group list-group-flush">
            <% subs.forEach(sub => { %>
              <li class="list-group-item"> 
                <a href="/subs/show/<%=sub%>"><%= sub %></a>
              </li> 
            <% }) %>
            
          </ul>
        </div>
      </div>
    </div>
  </section>      
 
<%- include('./partials/footer') %>
