.authOptions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
 
  .site-name {
    font-weight: bold;
    margin-right: auto;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0 0.5rem;
    margin: 0.3rem 0.3rem;
  }

  .nav-links li a {
    text-decoration: none;
    color: #000;
  }

   .nav-links li a:hover {
    text-decoration: underline;
    color: #ffffff;
  }

  .vote-frame{
    background-color: #e2e7e9;
  }

  .vote{
    display: flex;
    justify-content: space-between;
    align-items: flex-start

  }

  .vote button{
    width: auto;
    background-color: #e2e7e9;
  }
 
.card-body-custom{
  min-height: 12rem;
}

.pb-6 {
    padding-bottom: 5rem !important;
}

.top-70 {
  top: 70%!important;
}

 .card-text {
    color: #333;
    font-size: 0.8rem;
    line-height: 1.5;  
    text-align: justify;
}

.card-title { 
    font-size: 0.9rem !important;
    border-bottom: 1px solid;
    padding-bottom: 0.5rem;
}

.fs-7{
  font-size: 0.7rem;
}

.card-divider{
  border-bottom: 1px solid;
  opacity: 0.5;
}

.modal-custom{
  display: inline !important;
  position: relative !important;
}